{% extends 'layout.html' %}

{% block title %}Register for Classes{% endblock %}

{% block content %}
    <h1>Register for Classes</h1>
    <h3>Select a class below to add to cart</h3>

    <!-- Header -->
  <div class="model-item register header-row">
    <div></div>
    <div>Course ID</div>
    <div>Section ID</div>
    <div>Course Title</div>
    <div>Scheduled Meetings</div>
    <div>Status</div>
    <div>Units</div>
  </div>

  {% for course in courses -%}
    <div class="model-item register data-row">
      <label type="checkbox">
        <input type="checkbox" id="course_checked" name="course_checked">
      </label>
      <div>{{ course.course_id }}</div>
      <div>{{ course.campus[:1] }}{{ course.section_id }}</div>
      <div>{{ course.course_title }}</div>
      <div>{{ course.days_offered }} {{ course.times_offered }}</div>
      <div>{{ course.enroll_status_label() }}</div>
      <div>{{ course.credits }}</div>
    </div>
  {% endfor -%}

  <h3>Selected courses:</h3>
    <div class="model-list-container">
      <p style="padding-left: 20px; padding-right: 20px">Nothing here... try selecting some classes!</p>
    </div>

    <button class="btn" type="button" id="register_button" onclick="alert('Course Registration Demo')">Register</button>

{% endblock %}

{% block scripts %}

    <!-- Extends the script block in layout.html instead of overwriting it. -->
    {{ super() }}
    <!-- Decoupled script because it doesn't work yet. -->
    <script src="{{ url_for('static', filename='register_classes.js') }}"></script>
{% endblock %}